includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Response.php
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # Symfony extension interface contravariance is intentional for type safety
        - message: '#Parameter \#1 \$configs .* should be contravariant with parameter \$configs#'
          path: src/Bundle/DependencyInjection/HeurekaKosikApiExtension.php
